.weather-card-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 1em;
}

.weather-card-blank {
    min-height: 272px;
    background: url("../../img/preview-img-bg.svg") no-repeat;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.weather-card-blank__p {
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #8083A4;
}

.weather-card-list__arrow-left {
    position: absolute;
    top: 40%;
    left: -30px;
    width: 10px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: transparent url("../../img/arrow-left.svg") no-repeat;
}

.weather-card-list__arrow-right {
    position: absolute;
    top: 40%;
    right: -30px;
    width: 10px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: transparent url("../../img/arrow-right.svg") no-repeat;
}

.loading {
    min-height: 272px;
    margin: 0 auto;
}


@media only screen and (max-width: 860px) {
    .weather-card-list {
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }
    .weather-card-list__arrow-left,
    .weather-card-list__arrow-right {
        display: none;
    }
    .weather-card-list::-webkit-scrollbar {
        display: none;
    }
}