.offline-icon {
    position: absolute;
    top: 20px;
    right: 40px;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

@media only screen and (max-width: 540px) {
    .offline-icon {
        width: 32px;
    }
}