@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/ubuntu-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/ubuntu-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500 - latin_cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('fonts/ubuntu-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/ubuntu-v15-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin_cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('fonts/ubuntu-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/ubuntu-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    /*height: 100vh;*/
    width: 100vw;
    padding: 65px 40px 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../src/img/bg-top-right.svg"),
    url("../src/img/bg-right.svg"),
    url("../src/img/bg-top-left.svg"),
    url("../src/img/bg-bottom-left-1.svg"),
    url("../src/img/bg-bottom-left-2.svg"),
    url("../src/img/bg-bottom-left-3.svg");
    background-position: right top, right top, left top, left bottom, left bottom, left bottom;
    background-size: 35%, 38%, 35% auto, 30% auto, 40% auto, 30% auto;
    background-repeat: no-repeat;
    background-color: #373AF5;
}

main {
    min-height: 100vh;
    padding: 65px 40px 16px;
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
}

.header-title {
    max-width: 775px;
    margin: 0 auto;
    padding-bottom: 60px;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 102px;
    line-height: 0.95;
    text-align: left;
    text-align-last: right;
    color: #fff;
}

.forecast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4.5vw;
}

.footer-title {
    margin-top: auto;
    text-transform: uppercase;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: 0.6;
}

@media only screen and (max-width: 540px) {
    body {
        padding: 30px 12px 0;
    }
    main {
        padding: 0 0 16px;
    }
    .header-title {
        max-width: 245px;
        font-size: 32px;
        padding-bottom: 24px;
    }
    .footer-title {
        margin-top: 64px;
        font-size: 14px;
        line-height: 18px;
    }
}