/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('fonts/ubuntu-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/ubuntu-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('fonts/ubuntu-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/ubuntu-v15-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('fonts/ubuntu-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/ubuntu-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background: #373AF5 url("img/bg.svg") no-repeat;
  background-size: cover;
}

main {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  padding: 65px 40px 16px;
}

.title {
  max-width: 775px;
  margin: 0 auto;
  padding: 65px 0 60px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 102px;
  line-height: 0.9;
  text-align: left;
  text-align-last: right;
  color: #fff;
}

.forecast-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-seven-days-wrapper {
  display: inline-block;
  box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  background-color: #fff;
  padding: 60px;
  margin: 0 17px 200px;
  align-self: end;
}
.forecast-seven-days-wrapper .select:nth-last-child(1) {
  display: none;
}
.forecast-seven-days-wrapper:nth-of-type(2) .select:nth-last-child(1) {
  display: block;
}

h2 {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #2C2D76;
}

.form-box {
  display: flex;
  justify-content: space-between;
}

.select {
  max-width: 250px;
  padding: 12px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  appearance: none;
  background: url('./img/chevron-bottom.svg') rgba(128, 131, 164, 0.06) no-repeat 92% 50%;
  border: 2px solid rgba(128, 131, 164, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 50px;
}
.select:nth-last-child(1) {
  margin-left: 40px;
}
.option {
  padding: 10px;
}

input[type=date]{
  background:url("./img/icon-date.svg") #f7f9fc no-repeat 92% 50%;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.weather-card {
  min-height: 210px;
  background: url("img/preview-img-bg.svg") no-repeat;
  background-position-x: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.weather-card p {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #8083A4;
}

.weather-card-selected {

}

.weather-card-item {
  max-width: 174px;
  background: #373AF5;
  border: 2px solid #373AF5;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}