/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('fonts/ubuntu-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/ubuntu-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('fonts/ubuntu-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/ubuntu-v15-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('fonts/ubuntu-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('fonts/ubuntu-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

main {
  padding: 65px 40px 16px;
  background: #373AF5 url("img/bg.svg") no-repeat;
  background-size: cover;
}

.title {
  max-width: 775px;
  margin: 0 auto;
  padding: 65px 0 60px;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 102px;
  line-height: 0.9;
  text-align: left;
  text-align-last: right;
  color: #fff;
}

.forecast-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weather-card {
  min-height: 210px;
  background: url("img/preview-img-bg.svg") no-repeat;
  background-position-x: center;
  display: none;
  align-items: flex-end;
  justify-content: center;
}

.weather-card__p {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #8083A4;
}





.arrow {
  background: #8083A4;
}

.main__p {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}